.informations-grid{
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.artist-details {
    width: 155%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 20px;
    background-color: #102d44;
    border-radius: 10px;
}

.artist-image {
    text-align: center;
    margin-bottom: 20px;
}

.artist-image img {
    margin-top: 15px;
    border-radius: 50%;
    width: 250px;
    height: auto;
    border: 3px solid #ffc107;
}

#album {
    color: #ffffff;
    text-decoration-line: underline;
}

.artist-name,
.members,
.creation-date,
.first-album {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 2px solid #ffc107;
}

.artist-name {
    font-size: 2em;
    color: #ffc107;
}

.members,
.creation-date,
.first-album {
    font-size: 1.2em;
    color: #ddd;
}

.information{
    text-align: center;
}

.deezer-widget-container {
    margin-left: 5%;
    display: flex;
    width: 100%;
}

#deezer-widget{
    width: 100%;
}

#mapContainer{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

#map {
    height: 500px;
    width: 90%;
    border-radius: 20px;
}

.gm-style .gm-style-iw-c {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align-last: center;
    -webkit-transform: translate3d(-50%, -100%, 0);
    transform: translate3d(-50%, -100%, 0);
    background-color: white;
    border-radius: 8px;
    padding: 12px;
    -webkit-box-shadow: 0 2px 7px 1px rgba(0,0,0,.3);
    box-shadow: 0 2px 7px 1px rgba(0,0,0,.3);
}