.cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    flex-direction: row-reverse;
}

.card-container {
    background-color: #102D44FF;
    flex: 0 0 32%;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid #b7913e;
}

.card-content {
    padding: 15px;
    text-align: center;
    background-color: #102d44;
}

.card-image {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    height: auto;
    border-radius: 100%;
}

.artist-line{
    height: 2px;
    background-color: #b7913e;
    margin: 5px 0;
}

.artist-name {
    font-size: 20px;
    color: #b7913e;
}

#pre-filter-container{
    padding: 1% 1% 0.5%;
    display: flex;
    justify-content: center;
}
#filter-container{
    border: 2px solid #b7913e;
    padding: 1%;
    width: 49%;
    display: flex;
    background-color: #102d44;
    justify-content: center;
}

#filter{
    text-align: center;
    width: 90%;
}

#text{
    color: #b7913e;
    margin-bottom: 2%;
}

#filter-creation-date{
    color: grey;
    background-color: #102d44;
    text-align: center;
    padding: 1%;
    border-radius: 6%;
}

#filter-first-album-date{
    color: grey;
    background-color: #102d44;
    text-align: center;
    padding: 1%;
    border-radius: 6%;
}

#filter-number-of-members{
    color: grey;
    background-color: #102d44;
    text-align: center;
    padding: 1%;
    width: 28%;
    border-radius: 6%;
}

#filter-concert-locations{
    color: grey;
    background-color: #102d44;
    text-align: center;
    padding: 1%;
    border-radius: 6%;
}

#reset-filters{
    background-color: #102d44;
    color: #b7913e;
    padding: 1%;
    margin-top: 3%;
}