.cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    flex-direction: row-reverse;
}

.card-container {
    background-color: #102D44FF;
    flex: 0 0 32%;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid #b7913e;
}

.card-content {
    padding: 15px;
    text-align: center;
    background-color: #102d44;
}

.card-image {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    height: auto;
    border-radius: 100%;
}

.artist-line{
    height: 2px;
    background-color: #b7913e;
    margin: 5px 0;
}

.artist-name {
    font-size: 20px;
    color: #b7913e;
}

#filter-number-of-members{
    font-size: 85%;
    width: 11%;
}
input[type="text"],
input[type="date"],
input[type="number"] {
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 6px 10px;
    margin-bottom: 8px;
    border: 2px solid #007bff;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #495057;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {
    border-color: #28a745;
    background-color: #e9ecef;
    box-shadow: 0 0 8px rgba(40,167,69,.5);
    outline: none;
}

input[type="text"]:hover,
input[type="date"]:hover,
input[type="number"]:hover {
    border-color: #17a2b8;
    background-color: #e9ecef;
}
input[type="text"]::placeholder,
input[type="date"]::placeholder,
input[type="number"]::placeholder {
    color: #adb5bd;
    font-style: italic;
}
@keyframes input-focus {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0 8px rgba(40,167,69,.5);
    }
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {
    animation: input-focus 0.5s forwards;
}
button,
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover,
input[type="submit"]:hover {
    background-color: #45a049;
}
button:active,
input[type="submit"]:active {
    background-color: #397d35;
    transform: translateY(2px);
}