@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4b4b4b;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #152d45;
    width: 100%;
}

#logo {
    height: 125px;
    margin-right: 80%;
    margin-top: -2%;
}

nav {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 3%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

a:link, a:visited {
    color: #b79140;
    text-decoration: none;
}

a:hover, a:active {
    color: #6e5629;
    text-decoration: underline;
}

#search-box {
    position: relative;
    text-align: center;
    width: 50%;
    margin-top: -4.7%;
}

#search-input {
    color: #b7913e;
    width: 50%;
    padding: 10px;
    margin-right: -5px;
}

#search-box button {
    padding: 11.3px;
    background-color: #b79140;
    color: white;
    border: none;
    cursor: pointer;
}

#search-box button:hover {
    background-color: #6e5629;
}

.suggestions {
    width: 50%;
    margin-left: 18.5%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
    z-index: 1000;
    overflow-y: auto;
    max-height: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.suggestions div {
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #b7913e;
    background-color: #FFF;
    color: #b7913e;
    text-align: center;
}

.suggestions div:hover {
    background-color: #cccccc;
}

.suggestions div:first-child {
    border-top: none;
}

.suggestions::-webkit-scrollbar {
    display: none;
}

.suggestion-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}