@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4b4b4b;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #152d45;

}

#logo {
    height: 6vh;
    margin-left: 5%;
}

#logo-link:hover {
    opacity: 0.8;
}
nav {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 3%;
}

nav ul {
    margin-left: -4%;
    margin-bottom: 1.5%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

a:link, a:visited {
    color: #b79140;
    text-decoration: none;
}

a:hover, a:active {
    color: #6e5629;
    text-decoration: underline;
}

#search-box {
    margin-left: 2%;
    position: relative;
    text-align: center;
    width: 50%;
}

#search-input {
    color: #b7913e;
    width: 50%;
    padding: 10px;
    margin-right: -5px;
}

#search-box button {
    padding: 2.6%;
    background-color: #b79140;
    color: white;
    border: none;
    cursor: pointer;
}

#search-box button:hover {
    background-color: #6e5629;
}

.suggestions {
    width: 75%;
    margin-left: 12%;
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 10px;
    background: #ffffff;
    z-index: 1000;
    overflow-y: auto;
    max-height: 300px;
}

.suggestion-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #ddd;
    cursor: pointer;
}

.suggestion-item img {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.name-artist {
    flex-grow: 1;
    display: block;
    margin-top: 0;
    font-weight: bold;
    border-bottom: 1px solid #102d44;
    padding-bottom: 5%;
    background-color: #FFF;
    color: #b7913e;
    text-align: center;
}