/* Styling for loading screen */
#loadingScreen {
    color: #ffffff; /* Sets text color to white */
    display: none; /* Hides the loading screen by default */
    font-weight: bold; /* Sets the font weight of the loading text */
    font-size: 25px; /* Sets the font size of the loading text */
    margin-top: 10%; /* Adds margin space at the top of the loading screen */
    text-align: -webkit-center; /* Centers text horizontally */
}

/* Styling for loader */
.loader {
    margin-top: 4%; /* Adds margin space at the top of the loader */
    border: 16px solid #102d44; /* Sets the border of the loader */
    border-top: 16px solid #b7913e; /* Sets the top border color of the loader */
    border-radius: 50%; /* Creates a circle shape for the loader */
    width: 200px; /* Sets the width of the loader */
    height: 200px; /* Sets the height of the loader */
    animation: spin 2s linear infinite; /* Adds a spinning animation to the loader */
}

/* Keyframes for loader animation */
@keyframes spin {
    0% { transform: rotate(0deg); } /* Sets the initial rotation angle of the loader */
    100% { transform: rotate(360deg); } /* Sets the final rotation angle of the loader */
}

/* Styling for information container */
#informations-container {
    margin-top: 2%; /* Adds margin space at the top of the information container */
    display: flex; /* Uses flexbox layout */
    flex-direction: column; /* Arranges items vertically */
}

/* Styling for artists container */
#artists-container {
    display: flex; /* Uses flexbox layout */
    text-align: center; /* Centers text horizontally */
    flex-wrap: wrap; /* Allows wrapping */
    justify-content: space-evenly; /* Distributes items evenly */
}

/* Styling for artist container */
#artist-container {
    background-color: #102D44FF; /* Sets background color */
    border: 2px solid #b7913e; /* Sets border */
    margin-top: 2%; /* Adds margin space at the top of the artist container */
}

/* Styling for artist container heading */
#artist-container h2 {
    font-size: xx-large; /* Sets font size */
    color: #b7913e; /* Sets text color */
    margin-top: 3%; /* Adds margin space at the top of the heading */
    border-top: 2px solid #b7913e; /* Sets border color */
    padding: 2%; /* Adds padding */
}

/* Styling for artist container image */
#artist-container img {
    margin-top: 3%; /* Adds margin space at the top of the image */
    width: 35%; /* Sets width to 35% */
    border-radius: 50%; /* Rounds image to a circle */
}

/* Styling for tracks container text */
#text-tracks-container {
    text-align: center; /* Centers text horizontally */
    margin-top: 2%; /* Adds margin space at the top */
}

/* Styling for artists container text */
#text-artists-container {
    text-align: center; /* Centers text horizontally */
}

/* Styling for tracks container */
#tracks-container {
    display: flex; /* Uses flexbox layout */
    text-align: center; /* Centers text horizontally */
    margin-top: 2%; /* Adds margin space at the top */
    margin-bottom: 2%; /* Adds margin space at the bottom */
    flex-wrap: wrap; /* Allows wrapping */
    justify-content: space-evenly; /* Distributes items evenly */
}

/* Styling for track container */
#track-container {
    text-align: center; /* Centers text horizontally */
    margin-top: 2%; /* Adds margin space at the top */
}

/* Styling for track container heading */
#track-container h2 {
    color: #b7913e; /* Sets text color */
    margin-bottom: 2%; /* Adds margin space at the bottom */
}
